#imports("gclus") ## we use :: for gclus in seriate.hclust
#imports("cluster") ## we use :: for silhouette in dissplot

importFrom(graphics, plot)
## Fixme: Rgraphviz has to be loaded after rEMM for plot to work!

importFrom(stats, predict)

importFrom(proxy, pr_DB, pr_dist2simil)

exportClasses(EMM, TRACDS, StreamClustering, tNN)

export(
    EMM,
    TRAC,
    build,
    copy,
    fade,
    predict,
    score,
    size,
    prune,
    plot,
    merge_clusters,
    remove_clusters,
    
    ## tNN
    tNN,
    cluster,
    clusters,
    cluster_counts,
    cluster_centers,
    find_clusters,
    nclusters,
    rare_clusters,
    update,

    ## TRACDS
    TRACDS,
    update,
    nstates,
    reset,
    states,
    current_state,
    transitions,
    transition,
    transition_matrix,
    transition_table,
    initial_transition,
    rare_transitions,
    remove_transitions,
    remove_selftransitions,
    
    recluster_hclust,
    recluster_kmeans,
    recluster_pam,
    recluster_reachability,
    
    synthetic_stream
)

